# The Ladok3 host environment to talk to.
ladok3.host=api.mit-ik.ladok.se

# The certificate file (PKCS12 format)
ladok3.cert.file=/some/path

# The private key for the certificate file.
ladok3.cert.password=some-password

# The last read entry id
ladok3.feed.last_id=

# The last read entry id
ladok3.feed.last="https://api.mit-ik.ladok.se:443/uppfoljning/feed/recent"

#
# Test data:
#
ladok3.test.Ladok3StudentInformationServiceTest.getStudentByPersonnummer.personnummer=001234567689
ladok3.test.Ladok3StudentInformationServiceTest.getStudentByPersonnummer.fornamn=FÖRNAMN
ladok3.test.Ladok3StudentInformationServiceTest.getStudentByPersonnummer.efternamn=EFTERNAMN
