# The Ladok3 host environment to talk to.
ladok3.host=api.mit-ik.ladok.se

# The certificate file (PKCS12 format)
ladok3.cert.file=/some/path

# The private key for the certificate file.
ladok3.cert.password=some-password

# The last read entry id
ladok3.feed.last_id="xxx"

# The last read entry id
ladok3.feed.last="https://api.mit-ik.ladok.se:443/uppfoljning/feed/5137"
